<section class='p-5 w-100'>
<h3 class='text-muted'>Welcome <%= @user.firstname %>!</h3>
<h1>You have <%= @user.tasks.count %> tasks for today</h1>
  <div class="card">
    <h5 class="card-header">Due for today</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush card-text">
        <% if @user_tasks_today.any? %>
          <% @user_tasks_today.each do |task| %>
            <li class='list-group-item'><%= task.todo %></li>
          <% end %>
        <% else %>
          <li class='list-group-item'>No due tasks for today.</li>
        <% end %>        
      </ul>
      <%= link_to 'Create new task', new_user_task_path(@user), class: 'btn btn-primary mt-3 px-5' %> 
    </div>
  </div>
</section>