/* =====================
    SITE SECTION
  ====================== 
*/
#categories-list {
  th {
    border-bottom: none;
    &:last-child {
      width: 15%;
    }
  }
}
#tasks-list {
  th {
    border-bottom: none;
    &:last-child {
      width: 15%;
    }
  }
}